<h1>Header</h1>
<div id="nav">
  <mat-nav-list>
    <a mat-list-item href="#" (click)="changeCompShown('recipe-book')"
      >Recipe book</a
    >
    <a mat-list-item href="#" (click)="changeCompShown('recipes')">Recipes</a>
    <a mat-list-item href="#" (click)="changeCompShown('shopping-list')"
      >Shopping list</a
    >
    <mat-list-item>
      <button mat-button [matMenuTriggerFor]="menu">Manage</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Save</button>
        <button mat-menu-item>Fetch</button>
      </mat-menu>
    </mat-list-item>
  </mat-nav-list>
</div>
