<mat-card>
  <mat-card-title>{{ recipe.name }}</mat-card-title>
  <mat-card-subtitle>{{ recipe.description }}</mat-card-subtitle>
  <img mat-card-avatar src="{{ recipe.imageUrl }}" />
  <button mat-button [matMenuTriggerFor]="menu">Manage</button>
  <mat-card-actions>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Add to list</button>
      <button mat-menu-item>Edit</button>
      <button mat-menu-item>Delete</button>
    </mat-menu>
  </mat-card-actions>
  <mat-card-content>Ingredients:</mat-card-content>
</mat-card>
